@import url(https://fonts.googleapis.com/css?family=Arimo);

#maintitle {
	font-family: 'Arimo', sans-serif;
	font-size: 500%;
	text-align: center;
	text-decoration: underline;
}

#navbuttons {
	text-align: center;
}

.pswp-thumbnail {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin: 0 100px 100px 0;
  cursor: pointer;
}